<div class="chat-container">
  <app-user-sidebar (userSelected)="onUserSelected($event)"></app-user-sidebar>
  <div class="chat-tabs">
    <ul>
      <li *ngFor="let tab of tabs" [class.selected]="tab.id === selectedTab" (click)="selectedTab = tab.id">
        <span>{{ tab.name }}</span>
        <span [class.online]="tab.online" [class.offline]="!tab.online">●</span>
        <button (click)="closeTab(tab.id, $event)">x</button>
      </li>
    </ul>
  </div>
  <div class="chat-window" *ngIf="selectedTab">
    <app-chat-session [receiverId]="selectedTab" [parent]="this"></app-chat-session>
  </div>
</div>